

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg nav-style" >
  <div class="container-fluid">
    <h4 class="navbar-brand" href="#">ZenduForms</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="align-items: center;margin-left:150px">
        <li class=" nav-li">
          <i class="fa fa-list-ul icon-style" aria-hidden="true"></i>
          <span class="nav-link header-tab" aria-current="page" href="#">Forms</span>
        </li>
        <li class=" nav-li">
          <i class="fa fa-user-group icon-style"></i>
          <span class="nav-link header-tab" aria-current="page" href="#">Customers</span>
        </li>
        <li class="active nav-li">
          <i class="fa-solid fa-chart-simple icon-style"></i>
          <span class="nav-link header-tab" aria-current="page" href="#">Submissions</span>
        </li>
        <li class=" nav-li">
          <i class="fa-solid fa-clock-rotate-left icon-style"></i>
          <span class="nav-link header-tab" aria-current="page" href="#">History</span>
        </li>
        <li class=" nav-li">
          <i class="fa-solid fa-square-poll-vertical icon-style"></i>
          <span class="nav-link header-tab" aria-current="page" href="#">Reports</span>
        </li>
        <li class=" nav-li">
          <i class="fa-solid fa-square-poll-vertical icon-style"></i>
                    <span class="nav-link header-tab" aria-current="page" href="#">Workflow</span>
        </li>
      </ul>
      <div style="float: right;margin-left:450px" class="   align-items-right">
        <i class="fa fa-bell icon-style" aria-hidden="true"></i>
        <i class="fa-solid fa-arrow-right-from-bracket icon-style" style="margin-left:20px" id="log_out" role="button"></i>
      </div>
    </div>
  </div>
</nav>
<h2 class="content-nav">Submissions</h2>
<div class="row height d-flex dropdown-div-style" style="width: fit-content;">


    <div class="form mr-5">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control form-input" placeholder="Search...">
    </div>
    <div class="dropdown mx-5" style="top: 25px;">
      <button class="btn dropdown-toggle"style="padding:15px;border:1px solid #B8B9BC;width:209px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Form
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown mx-5" style="top: 25px;">
      <button class="btn dropdown-toggle"style="padding:15px;border:1px solid #B8B9BC;width:209px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Status
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
  
    </div >
    <div class="form mx-5" >
      <i class="fa fa-search calender" ></i>
      <input type="date" class="form-control form-input">
    </div>
    <div class="form mx-5" style="position:relative;top:25px;">
     <button class="btn btn-primary map" style="border-radius:5px 0px 0px 5px;" (click)="mapClicked()">Map</button>
    <button class="btn map" style="border:1px solid #B8B9BC;border-radius:0px 5px 5px 0px;" (click)="ListClicked()">List</button>
 
    </div>
    <div class="mx-5" style="margin-top:15px;position:relative;top:25px;">
     <i class="fa-solid fa-file-arrow-down text-primary"></i><span class="text-primary ml-2" style="cursor: pointer;">Export</span>
     </div>
   
</div>
<div class=" height d-flex dropdown-div-style" style="height: 800px;" >
  <div class="col-3" style="padding-left: 0px;">
    <div class="card" style="width: 100%;margin-bottom:10px;border:1px solid #B8B9BC;">
      <div class="card-body">
        <span class="card-title " style="font-weight: 700;">Work Flow: Requires Location</span><span class="badge badge-outline-danger float-right uncomplete"><i class="fa-solid fa-circle text-danger mr-2"></i>Uncomplete  </span><br>
        <span class="card-subtitle mb-2 text-muted ">From : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted ">To : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted ">Due Date : </span><span class=" mb-2 text-danger">06 December</span>
      </div>
    </div>
    <div class="card" style="width: 100%;margin-bottom:10px;border:1px solid #B8B9BC;">
      <div class="card-body">
        <span class="card-title" style="font-weight: 700;">Work Flow: Requires Location</span><span class="badge float-right low-risk"><i class="fa-solid fa-circle text-success mr-2"></i>Low risk  </span><br>
        <span class="card-subtitle mb-2 text-muted">From : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">To : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">Due Date : </span><span class=" mb-2 text-danger">06 December</span>
      </div>
    </div>
    <div class="card" style="width: 100%;margin-bottom:10px;border:1px solid #B8B9BC;">
      <div class="card-body">
        <span class="card-title" style="font-weight: 700;">Work Flow: Requires Location</span><span class="badge badge-outline-danger float-right uncomplete"><i class="fa-solid fa-circle text-danger mr-2"></i>Uncomplete  </span><br>
        <span class="card-subtitle mb-2 text-muted">From : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">To : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">Due Date : </span><span class=" mb-2 text-danger">06 December</span>
      </div>
    </div>
    <div class="card" style="width: 100%;margin-bottom:10px;border:1px solid #B8B9BC;">
      <div class="card-body">
        <span class="card-title" style="font-weight: 700;">Work Flow: Requires Location</span><span class="badge float-right needs-review"><i class="fa-solid fa-circle text-secondary mr-2"></i>Needs Review  </span><br>
        <span class="card-subtitle mb-2 text-muted">From : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">To : </span><span class=" mb-2">denisgordiyenya@gmail.com</span><br>
        <span class="card-subtitle mb-2 text-muted">Due Date : </span><span class=" mb-2 text-danger">06 December</span>
      </div>
    </div>
  </div>
  <div class="col-9">
  
    <div class="mapouter" *ngIf="mapclicked"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=2048&amp;height=100%;hl=en&amp;q=pune&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://piratebay-proxys.com/">Piratebay</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:100%;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:100%;}.gmap_iframe {height:100%!important;}</style></div>
    <div>
      <h2 *ngIf="listclicked" style="align-items: center;">List Details</h2>
    </div>
  </div>
</div>


<router-outlet></router-outlet>